/* 전체 속성 */
*{
    box-sizing: border-box;
    text-decoration: none;
}
body{
    margin:auto auto;
}
button, .submit-btn{
    cursor: pointer;
}
.login-form{
    width: 300px;
    height: 500px;
    margin: 200px auto auto auto;
    padding: 20px;
    border: 1px;
    border-radius: 30px;
    background-color: rgb(166, 212, 252);
}
.login-form h1{
   text-align: center;
   padding: 20px;
   font: bold 30px/1.2 'arial';
}
.login-form a{
    color: rgb(0, 68, 255);
}
#auto-login{
    margin-bottom: 130px;
}
.login-form label{
    font-size: 14px;
}
.text-field{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font: normal 14px 'arial';
}
.submit-btn{
    width: 100%;
    font: normal 14px 'arial';
    background-color: rgb(214, 214, 214);
    margin-bottom: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: rgb(136, 135, 135);
}
.links{
    text-align: center;
}
.links a:link {
    font-size: 12px;
    color: rgb(147, 83, 249);
}
.links a:visited {
    font-size: 12px;
    color: black;
}
.links a:hover {
    font-size: 12px;
    color: white;
}

